.menu-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: red;
}

.menu-icon {
    margin-right: 30px;
    font-size: 1.75em;
}

.course-heading {
    font-size: 25px;
    margin-top: 10px;
}

.course-id {
    margin: 0;
}

.student-view-button{
    padding-left: 850px;
}