ul.wd-acc-nav {
    list-style: none;
}
.wd-acc-nav a{
    text-decoration: none;
    color:red;
}
.wd-acc-nav i{
    color:red;
}

.container-fluid {
    border: 2px solid #ccc; /* Gray border */
    padding: 20px; /* Add some padding to create space between the content and the border */
    width: 80%; /* Set a fixed width for the container */
    margin: 0 auto; /* Center the container horizontally */
}
.remove-icon i{
    color:gray;
}